/* Модульная сетка */

.row:after,
.row:before {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 18px;
  min-height: 1px;
}

.s-1 { width: 8.33%; }
.s-2 { width: 16.66%; }
.s-3 { width: 25%; }
.s-4 { width: 33.33%; }
.s-5 { width: 41.66%; }
.s-6 { width: 50%; }
.s-7 { width: 58.33%; }
.s-8 { width: 66.66%; }
.s-9 { width: 75%; }
.s-10 { width: 83.11%; }
.s-11 { width: 91.66%; }
.s-12 { width: 100%; }
.s-20 { width: 20%; }

.to-right {
  float: right;
}

body {
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
  color: #444444;
  font-size: 18px;
  line-height: 24px;
}

header {
  height: 50px;
  background-color: rgba(100, 100, 100, .5);
}
